<div id="<%= dom_id group %>">
  <div class="card">
    <%= image_tag group.icon, class:'g-icon' %>
    <div class="card_info">
      <div class="info">
        <h3><%= group.name %></h3>
        <h3><%= category_sum(group) %></h3>
      </div>
      <div class="options">
        <%= link_to "Edit Category", group %>
        <%= link_to "See expenses", group_expenses_path(group) %>
        <%= button_to "Remove", group, method: :delete %>
      </div>
    </div>
  </div>
</div>
